@use '../helpers/' as *;

.hero-alt {
    &__header-inner {
        border-bottom: var(--border);
        padding-top: rem(130);
        padding-bottom: rem(150);
        display: grid;
        gap: rem(20) rem(80);
        align-items: center;

        @include laptop {
            column-gap: rem(60);
            padding-top: rem(80);
            padding-bottom: rem(100);
        }

        @include mobile-above {
            grid-template-columns: auto 1fr;
        }

        @include mobile {
            padding-block: rem(40);
            row-gap: rem(14);
        }
    }

    &__title {
        grid-column: -1 / 1;
    }
}